.gradient {
  background: linear-gradient(45deg, #7928CA, #FF0080, #FFD700, #FFFFF0);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
  
}

@media screen and (min-width: 0em) {
  .gradient {
    width: 80%;
  }
}

@keyframes colors {
  8% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
